body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #ccccb7;
  display: flex;
  user-select: none;
  overflow: hidden;
}

#root {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: inherit;
  color: inherit;
}

a :hover {
  text-decoration: none;
}

p {
  margin: 0 0 0.5rem;
}

h1 {
  margin: 1rem 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
