.uiFrame {
    padding: 6px 8px;
    position: relative;
    background-color: #111111;
    border-radius: 4px;
    border: 1px solid #1d1d1d;
    border-top-color: #3d3d3d;
    box-shadow: inset 0 0 0 0 #1b1b1b, inset 0 0 0 1px #151515,
    inset 0 0 0 2px #060606, 0 3px 2px #060606;
}
